* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(31, 7, 7, .7), rgba(0, 0, 0, .7)),
    url(img/emily-bernal-v9vII5gV8Lw-unsplash.jpg) center no-repeat;
    background-size: cover;
    perspective: 100rem; /* 3D space */
}

.forms-wrapper {
    transform-style: preserve-3d;
    position: absolute;
    top: calc(50% - 17.5rem);
    left: calc(50% - 25rem);
    transform: rotateY(-10deg);
    transition: transform .5s, left .5s;
}

.forms-wrapper.change {
    transform: rotateY(100deg);
    left: calc(50% + 25rem);
}

.forms-wrapper form {
    position: absolute;
    width: 50rem;
    height: 35rem;
    background-color: rgb(86, 75, 60, .5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: .1rem .1rem .1rem #ccc inset, -.1rem -.1rem 1rem #ccc inset;
}

.signup-form {
    transform: rotateY(270deg) translateZ(25rem) translateX(-25rem);
}

form a {
    position: absolute;
    top: 2rem;
    background-color: aliceblue;
    font-weight: 600;
    color: rgb(86, 75, 60);
    letter-spacing: .2rem;
    border-radius: .5rem ;
    padding: .5rem 1rem;
}

.signup-btn {
   left: 2rem;
}

.signin-btn {
    right: 2rem;
}

form h2 {
    font-size: 2.4rem;
    letter-spacing: .2rem;
    color: aliceblue;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper input {
    width: 25rem;
    height: 3rem;
    padding: .5rem;
    margin: .5rem 0;
    background-color: transparent;
    border: .1rem solid #ccc;
    border-radius: .5rem;
    color: aliceblue;
    letter-spacing: .1rem;
    outline: none;
}

.input-wrapper input::placeholder {
    color: aliceblue;
}

.input-wrapper input[type='submit'] {
    background-color:aliceblue;
    color: rgb(86, 75, 60);
    font-weight: 900;
    cursor: pointer;
}